body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Complex Gradient Background */
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    filter: grayscale(100%);
}


header {
    background-color: #12c2e9;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    main {
        padding: 10px;
    }
}
